## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**1070. Product Sales Analysis III (Medium)**

**Table: Sales**

| Column Name | Type  |
|-------------|-------|
| sale_id     | int   |
| product_id  | int   |
| year        | int   |
| quantity    | int   |
| price       | int   |

(sale_id, year) is the primary key (combination of columns with unique values) of this table.
product_id is a foreign key (reference column) to Product table.
Each row of this table shows a sale on the product product_id in a certain year.
Note that the price is per unit.
 
**Table: Product**

| Column Name  | Type    |
|--------------|---------|
| product_id   | int     |
| product_name | varchar |

product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the product name of each product.
 
**Write a solution to select the product id, year, quantity, and price for the first year of every product sold.**

Return the resulting table in any order.

The result format is in the following example.

**Example 1:**

**Input:**
**Sales table:**
| sale_id | product_id | year | quantity | price |
|---------|------------|------|----------|-------| 
| 1       | 100        | 2008 | 10       | 5000  |
| 2       | 100        | 2009 | 12       | 5000  |
| 7       | 200        | 2011 | 15       | 9000  |

**Product table:**
| product_id | product_name |
|------------|--------------|
| 100        | Nokia        |
| 200        | Apple        |
| 300        | Samsung      |

**Output:**
| product_name | first_year | quantity | price |
|------------|------------|----------|-------| 
| Nokia      | 2008       | 10       | 5000  |
| Apple      | 2011       | 15       | 9000  |

In [0]:
sales_data_1070 = [
    (1, 100, 2008, 10, 5000),
    (2, 100, 2009, 12, 5000),
    (7, 200, 2011, 15, 9000)
]

sales_columns_1070 = ["sale_id", "product_id", "year", "quantity", "price"]
sales_df_1070 = spark.createDataFrame(sales_data_1070, sales_columns_1070)
sales_df_1070.show()

product_data_1070 = [
    (100, "Nokia"),
    (200, "Apple"),
    (300, "Samsung")
]

product_columns_1070 = ["product_id", "product_name"]
product_df_1070 = spark.createDataFrame(product_data_1070, product_columns_1070)
product_df_1070.show()