## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**1112. Highest Grade For Each Student (Medium)**

**Table: Enrollments**

| Column Name   | Type    |
|---------------|---------|
| student_id    | int     |
| course_id     | int     |
| grade         | int     |

(student_id, course_id) is the primary key (combination of columns with unique values) of this table.
grade is never NULL.
 
**Write a solution to find the highest grade with its corresponding course for each student. In case of a tie, you should find the course with the smallest course_id.**

Return the result table ordered by student_id in ascending order.

The result format is in the following example.

**Example 1:**

**Input:** 

**Enrollments table:**

| student_id | course_id | grade |
|------------|-----------|-------|
| 2          | 2         | 95    |
| 2          | 3         | 95    |
| 1          | 1         | 90    |
| 1          | 2         | 99    |
| 3          | 1         | 80    |
| 3          | 2         | 75    |
| 3          | 3         | 82    |

**Output:** 
| student_id | course_id | grade |
|------------|-----------|-------|
| 1          | 2         | 99    |
| 2          | 2         | 95    |
| 3          | 3         | 82    |

In [0]:
enrollments_data_1112 = [
    (2, 2, 95),
    (2, 3, 95),
    (1, 1, 90),
    (1, 2, 99),
    (3, 1, 80),
    (3, 2, 75),
    (3, 3, 82),
]

enrollments_columns_1112 = ["student_id", "course_id", "grade"]
enrollments_df_1112 = spark.createDataFrame(enrollments_data_1112, enrollments_columns_1112)
enrollments_df_1112.show()