## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**177. Nth Highest Salary (Medium)**

**Table: Employee**

| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

id is the primary key (column with unique values) for this table. Each row of this table contains information about the salary of an employee.
 
**Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.**

The result format is in the following example.

**Example 1:**

**Input:**
**Employee table:**
| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |


**n = 2**
**Output:**
| getNthHighestSalary(2) |
|------------------------|
| 200                    |

**Example 2:**

**Input:**
**Employee table:**
| id | salary |
|----|--------|
| 1  | 100    |

**n = 2**
**Output:**
| getNthHighestSalary(2) |
|------------------------|
| null                   |

In [0]:
employee_177 = [(1, 100), (2, 200), (3, 300)]

# Define the schema (column names)
employee_columns_177 = ["id", "salary"]
employee_df_177 = spark.createDataFrame(employee_177, employee_columns_177)
employee_df_177.show()