## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**1076. Project Employees II (Easy)**

**Table: Project**

| Column Name | Type    |
|-------------|---------|
| project_id  | int     |
| employee_id | int     |

(project_id, employee_id) is the primary key (combination of columns with unique values) of this table.
employee_id is a foreign key (reference column) to Employee table.
Each row of this table indicates that the employee with employee_id is working on the project with project_id.
 

**Table: Employee**

| Column Name      | Type    |
|------------------|---------|
| employee_id      | int     |
| name             | varchar |
| experience_years | int     |

employee_id is the primary key (column with unique values) of this table.
Each row of this table contains information about one employee.
 
**Write a solution to report all the projects that have the most employees.**

Return the result table in any order.

The result format is in the following example.

**Example 1:**

**Input:** 

**Project table:**
| project_id  | employee_id |
|-------------|-------------|
| 1           | 1           |
| 1           | 2           |
| 1           | 3           |
| 2           | 1           |
| 2           | 4           |

**Employee table:**
| employee_id | name   | experience_years |
|-------------|--------|------------------|
| 1           | Khaled | 3                |
| 2           | Ali    | 2                |
| 3           | John   | 1                |
| 4           | Doe    | 2                |

**Output:** 
| project_id  |
|-------------|
| 1           |

**Explanation:** The first project has 3 employees while the second one has 2.

In [0]:
project_data_1076 = [
    (1, 1),
    (1, 2),
    (1, 3),
    (2, 1),
    (2, 4),
]
project_columns_1076 = ["project_id", "employee_id"]
project_df_1076 = spark.createDataFrame(project_data_1076, project_columns_1076)
project_df_1076.show()

employee_data_1076 = [
    (1, "Khaled", 3),
    (2, "Ali", 2),
    (3, "John", 1),
    (4, "Doe", 2),
]

employee_columns_1076 = ["employee_id", "name", "experience_years"]
employee_df_1076 = spark.createDataFrame(employee_data_1076, employee_columns_1076)
employee_df_1076.show()