## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**1077. Project Employees III (Medium)**

**Table: Project**

| Column Name | Type    |
|-------------|---------|
| project_id  | int     |
| employee_id | int     |

(project_id, employee_id) is the primary key (combination of columns with unique values) of this table.
employee_id is a foreign key (reference column) to Employee table.
Each row of this table indicates that the employee with employee_id is working on the project with project_id.
 
**Table: Employee**

| Column Name      | Type    |
|------------------|---------|
| employee_id      | int     |
| name             | varchar |
| experience_years | int     |

employee_id is the primary key (column with unique values) of this table.
Each row of this table contains information about one employee.
 
**Write a solution to report the most experienced employees in each project. In case of a tie, report all employees with the maximum number of experience years.**

Return the result table in any order.

The result format is in the following example.

**Example 1:**

**Input:** 

**Project table:**

| project_id  | employee_id |
|-------------|-------------|
| 1           | 1           |
| 1           | 2           |
| 1           | 3           |
| 2           | 1           |
| 2           | 4           |

**Employee table:**
| employee_id | name   | experience_years |
|-------------|--------|------------------|
| 1           | Khaled | 3                |
| 2           | Ali    | 2                |
| 3           | John   | 3                |
| 4           | Doe    | 2                |

**Output:** 
| project_id  | employee_id   |
|-------------|---------------|
| 1           | 1             |
| 1           | 3             |
| 2           | 1             |

**Explanation:** Both employees with id 1 and 3 have the most experience among the employees of the first project. For the second project, the employee with id 1 has the most experience.

In [0]:
project_data_1077 = [
    (1, 1),
    (1, 2),
    (1, 3),
    (2, 1),
    (2, 4),
]
project_columns_1077 = ["project_id", "employee_id"]
project_df_1077 = spark.createDataFrame(project_data_1077, project_columns_1077)
project_df_1077.show()

employee_data_1077 = [
    (1, "Khaled", 3),
    (2, "Ali", 2),
    (3, "John", 3),
    (4, "Doe", 2),
]

employee_columns_1077 = ["employee_id", "name", "experience_years"]
employee_df_1077 = spark.createDataFrame(employee_data_1077, employee_columns_1077)
employee_df_1077.show()

+----------+-----------+
|project_id|employee_id|
+----------+-----------+
|         1|          1|
|         1|          2|
|         1|          3|
|         2|          1|
|         2|          4|
+----------+-----------+

+-----------+------+----------------+
|employee_id|  name|experience_years|
+-----------+------+----------------+
|          1|Khaled|               3|
|          2|   Ali|               2|
|          3|  John|               3|
|          4|   Doe|               2|
+-----------+------+----------------+

In [0]:
joined_df_1077 = project_df_1077.join(employee_df_1077, on="employee_id", how="inner")

In [0]:
windowSpec = Window.partitionBy("project_id").orderBy(col("experience_years").desc())

In [0]:
joined_df_1077\
    .withColumn("rnk", rank().over(windowSpec))\
        .filter(col("rnk") == 1).select("project_id", "employee_id").show()

+----------+-----------+
|project_id|employee_id|
+----------+-----------+
|         1|          1|
|         1|          3|
|         2|          1|
+----------+-----------+