## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**1303. Find the Team Size (Easy)**

**Table: Employee**

| Column Name   | Type    |
|---------------|---------|
| employee_id   | int     |
| team_id       | int     |

employee_id is the primary key (column with unique values) for this table.
Each row of this table contains the ID of each employee and their respective team.
 
**Write a solution to find the team size of each of the employees.**

Return the result table in any order.

The result format is in the following example.

**Example 1:**

**Input:** 

**Employee Table:**

| employee_id | team_id    |
|-------------|------------|
|     1       |     8      |
|     2       |     8      |
|     3       |     8      |
|     4       |     7      |
|     5       |     9      |
|     6       |     9      |

**Output:** 
| employee_id | team_size  |
|-------------|------------|
|     1       |     3      |
|     2       |     3      |
|     3       |     3      |
|     4       |     1      |
|     5       |     2      |
|     6       |     2      |

**Explanation:** 
- Employees with Id 1,2,3 are part of a team with team_id = 8.
- Employee with Id 4 is part of a team with team_id = 7.
- Employees with Id 5,6 are part of a team with team_id = 9.

In [0]:
employee_data_1303 = [
    (1, 8),
    (2, 8),
    (3, 8),
    (4, 7),
    (5, 9),
    (6, 9)
]
employee_columns_1303 = ["employee_id", "team_id"]
employee_df_1303 = spark.createDataFrame(employee_data_1303, employee_columns_1303)
employee_df_1303.show()

+-----------+-------+
|employee_id|team_id|
+-----------+-------+
|          1|      8|
|          2|      8|
|          3|      8|
|          4|      7|
|          5|      9|
|          6|      9|
+-----------+-------+

In [0]:
team_sizes_df_1303 = employee_df_1303\
                    .groupBy("team_id") \
                        .agg(count("employee_id").alias("team_size"))

In [0]:
employee_df_1303\
    .join(team_sizes_df_1303, on="team_id", how="inner") \
    .select("employee_id", "team_size").show()

+-----------+---------+
|employee_id|team_size|
+-----------+---------+
|          3|        3|
|          4|        1|
|          6|        2|
|          2|        3|
|          5|        2|
|          1|        3|
+-----------+---------+