## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**1350. Students With Invalid Departments (Easy)**

**Table: Departments**

| Column Name   | Type    |
|---------------|---------|
| id            | int     |
| name          | varchar |

In SQL, id is the primary key of this table.
The table has information about the id of each department of a university.
 
**Table: Students**

| Column Name   | Type    |
|---------------|---------|
| id            | int     |
| name          | varchar |
| department_id | int     |

In SQL, id is the primary key of this table.
The table has information about the id of each student at a university and the id of the department he/she studies at.
 
**Find the id and the name of all students who are enrolled in departments that no longer exist.**

Return the result table in any order.

The result format is in the following example.

**Example 1:**

**Input:** 

**Departments table:**

| id   | name                     |
|------|--------------------------|
| 1    | Electrical Engineering   |
| 7    | Computer Engineering     |
| 13   | Bussiness Administration |

**Students table:**
| id   | name     | department_id |
|------|----------|---------------|
| 23   | Alice    | 1             |
| 1    | Bob      | 7             |
| 5    | Jennifer | 13            |
| 2    | John     | 14            |
| 4    | Jasmine  | 77            |
| 3    | Steve    | 74            |
| 6    | Luis     | 1             |
| 8    | Jonathan | 7             |
| 7    | Daiana   | 33            |
| 11   | Madelynn | 1             |

**Output:** 
| id   | name     |
|------|----------|
| 2    | John     |
| 7    | Daiana   |
| 4    | Jasmine  |
| 3    | Steve    |

**Explanation:** 
John, Daiana, Steve, and Jasmine are enrolled in departments 14, 33, 74, and 77 respectively. department 14, 33, 74, and 77 do not exist in the Departments table.

In [0]:
departments_data_1350 = [
    (1, "Electrical Engineering"),
    (7, "Computer Engineering"),
    (13, "Business Administration")
]
departments_columns_1350 = ["id", "name"]
departments_df_1350 = spark.createDataFrame(departments_data_1350, departments_columns_1350)
departments_df_1350.show()

students_data_1350 = [
    (23, "Alice", 1), (1, "Bob", 7), (5, "Jennifer", 13),
    (2, "John", 14), (4, "Jasmine", 77), (3, "Steve", 74),
    (6, "Luis", 1), (8, "Jonathan", 7), (7, "Daiana", 33),
    (11, "Madelynn", 1)
]

students_columns_1350 = ["id", "name", "department_id"]
students_df_1350 = spark.createDataFrame(students_data_1350, students_columns_1350)
students_df_1350.show()