## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**1543. Fix Product Name Format (Easy)**

**Table: Sales**

| Column Name  | Type    |
|--------------|---------|
| sale_id      | int     |
| product_name | varchar |
| sale_date    | date    |

sale_id is the column with unique values for this table.
Each row of this table contains the product name and the date it was sold.
 
Since table Sales was filled manually in the year 2000, product_name may contain leading and/or trailing white spaces, also they are case-insensitive.

**Write a solution to report**
- product_name in lowercase without leading or trailing white spaces.
- sale_date in the format ('YYYY-MM').
- total the number of times the product was sold in this month.

Return the result table ordered by product_name in ascending order. In case of a tie, order it by sale_date in ascending order.

The result format is in the following example.

**Example 1:**

**Input:** 

**Sales table:**
| sale_id | product_name | sale_date  |
|---------|--------------|------------|
| 1       | LCPHONE      | 2000-01-16 |
| 2       | LCPhone      | 2000-01-17 |
| 3       | LcPhOnE      | 2000-02-18 |
| 4       | LCKeyCHAiN   | 2000-02-19 |
| 5       | LCKeyChain   | 2000-02-28 |
| 6       | Matryoshka   | 2000-03-31 |

**Output:** 
| product_name | sale_date | total |
|--------------|-----------|-------|
| lckeychain   | 2000-02   | 2     |
| lcphone      | 2000-01   | 2     |
| lcphone      | 2000-02   | 1     |
| matryoshka   | 2000-03   | 1     |

**Explanation:** 
- In January, 2 LcPhones were sold. Please note that the product names are not case sensitive and may contain spaces.
- In February, 2 LCKeychains and 1 LCPhone were sold.
- In March, one matryoshka was sold.

In [0]:
sales_data_1543 = [
    (1, " LCPHONE ", "2000-01-16"),
    (2, "LCPhone", "2000-01-17"),
    (3, "LcPhOnE", "2000-02-18"),
    (4, " LCKeyCHAiN ", "2000-02-19"),
    (5, "LCKeyChain", "2000-02-28"),
    (6, "Matryoshka", "2000-03-31"),
]

sales_columns_1543 = ["sale_id", "product_name", "sale_date"]
sales_df_1543 = spark.createDataFrame(sales_data_1543, sales_columns_1543)
sales_df_1543.show()

+-------+------------+----------+
|sale_id|product_name| sale_date|
+-------+------------+----------+
|      1|    LCPHONE |2000-01-16|
|      2|     LCPhone|2000-01-17|
|      3|     LcPhOnE|2000-02-18|
|      4| LCKeyCHAiN |2000-02-19|
|      5|  LCKeyChain|2000-02-28|
|      6|  Matryoshka|2000-03-31|
+-------+------------+----------+

In [0]:
sales_df_1543 = sales_df_1543\
                    .withColumn("sale_date", to_date("sale_date"))

In [0]:
cleaned_df_1543 = sales_df_1543\
                        .withColumn( "product_name", lower(trim(col("product_name"))))\
                            .withColumn( "sale_date", date_format("sale_date", "yyyy-MM"))

In [0]:
cleaned_df_1543\
    .groupBy( "product_name", "sale_date").agg( count("*").alias("total"))\
        .orderBy( col("product_name").asc(), col("sale_date").asc()).show()

+------------+---------+-----+
|product_name|sale_date|total|
+------------+---------+-----+
|  lckeychain|  2000-02|    2|
|     lcphone|  2000-01|    2|
|     lcphone|  2000-02|    1|
|  matryoshka|  2000-03|    1|
+------------+---------+-----+