## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**1623. All Valid Triplets That Can Represent a Country (Easy)**

**Table: SchoolA**

| Column Name   | Type    |
|---------------|---------|
| student_id    | int     |
| student_name  | varchar |

student_id is the column with unique values for this table.
Each row of this table contains the name and the id of a student in school A.
All student_name are distinct.
 
**Table: SchoolB**

| Column Name   | Type    |
|---------------|---------|
| student_id    | int     |
| student_name  | varchar |

student_id is the column with unique values for this table.
Each row of this table contains the name and the id of a student in school B.
All student_name are distinct.
 
**Table: SchoolC**

| Column Name   | Type    |
|---------------|---------|
| student_id    | int     |
| student_name  | varchar |

student_id is the column with unique values for this table.
Each row of this table contains the name and the id of a student in school C.
All student_name are distinct.
 
There is a country with three schools, where each student is enrolled in exactly one school. The country is joining a competition and wants to select one student from each school to represent the country such that:
- member_A is selected from SchoolA,
- member_B is selected from SchoolB,
- member_C is selected from SchoolC, and
- The selected students' names and IDs are pairwise distinct (i.e. no two students share the same name, and no two students share the same ID).

**Write a solution to find all the possible triplets representing the country under the given constraints.**

Return the result table in any order.

The result format is in the following example.

**Example 1:**

**Input:** 

**SchoolA table:**
| student_id | student_name |
|------------|--------------|
| 1          | Alice        |
| 2          | Bob          |

**SchoolB table:**
| student_id | student_name |
|------------|--------------|
| 3          | Tom          |

**SchoolC table:**
| student_id | student_name |
|------------|--------------|
| 3          | Tom          |
| 2          | Jerry        |
| 10         | Alice        |

**Output:** 
| member_A | member_B | member_C |
|----------|----------|----------|
| Alice    | Tom      | Jerry    |
| Bob      | Tom      | Alice    |

**Explanation:** 
Let us see all the possible triplets.
- (Alice, Tom, Tom) --> Rejected because member_B and member_C have the same name and the same ID.
- (Alice, Tom, Jerry) --> Valid triplet.
- (Alice, Tom, Alice) --> Rejected because member_A and member_C have the same name.
- (Bob, Tom, Tom) --> Rejected because member_B and member_C have the same name and the same ID.
- (Bob, Tom, Jerry) --> Rejected because member_A and member_C have the same ID.
- (Bob, Tom, Alice) --> Valid triplet.

In [0]:
schoolA_data_1623 = [(1, "Alice"), (2, "Bob")]

schoolA_columns_1623 = ["student_id", "student_name"]
schoolA_df_1623 = spark.createDataFrame(schoolA_data_1623, schoolA_columns_1623)
schoolA_df_1623.show()

schoolB_data_1623 = [(3, "Tom")]

schoolB_columns_1623 = ["student_id", "student_name"]
schoolB_df_1623 = spark.createDataFrame(schoolB_data_1623, schoolB_columns_1623)
schoolB_df_1623.show()

schoolC_data_1623 = [(3, "Tom"), (2, "Jerry"), (10, "Alice")]

schoolC_columns_1623 = ["student_id", "student_name"]
schoolC_df_1623 = spark.createDataFrame(schoolC_data_1623, schoolC_columns_1623)
schoolC_df_1623.show()

+----------+------------+
|student_id|student_name|
+----------+------------+
|         1|       Alice|
|         2|         Bob|
+----------+------------+

+----------+------------+
|student_id|student_name|
+----------+------------+
|         3|         Tom|
+----------+------------+

+----------+------------+
|student_id|student_name|
+----------+------------+
|         3|         Tom|
|         2|       Jerry|
|        10|       Alice|
+----------+------------+

In [0]:
A = schoolA_df_1623.alias("A")
B = schoolB_df_1623.alias("B")
C = schoolC_df_1623.alias("C")

In [0]:
triplets_df_1623 =  A.crossJoin(B).crossJoin(C) \
                .select(
                    col("A.student_id").alias("id_A"),
                    col("A.student_name").alias("member_A"),
                    col("B.student_id").alias("id_B"),
                    col("B.student_name").alias("member_B"),
                    col("C.student_id").alias("id_C"),
                    col("C.student_name").alias("member_C")
                )

In [0]:
triplets_df_1623\
        .filter(
            (col("id_A") != col("id_B")) &
            (col("id_A") != col("id_C")) &
            (col("id_B") != col("id_C")) &
            (col("member_A") != col("member_B")) &
            (col("member_A") != col("member_C")) &
            (col("member_B") != col("member_C"))
        )\
            .select("member_A", "member_B", "member_C").show()

+--------+--------+--------+
|member_A|member_B|member_C|
+--------+--------+--------+
|   Alice|     Tom|   Jerry|
|     Bob|     Tom|   Alice|
+--------+--------+--------+