## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**176. Second Highest Salary (Medium)**

**Table: Employee**

| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 
**Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).**

The result format is in the following example.

**Example 1:**

**Input:**
**Employee table:**
| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

**Output:** 
| SecondHighestSalary |
|---------------------|
| 200                 |

**Example 2:**

**Input:**
**Employee table:**
| id | salary |
|----|--------|
| 1  | 100    |

**Output:**

| SecondHighestSalary |
|---------------------|
| null                |

In [0]:
employee_176 = [(1, 100), (2, 200), (3, 300)]

employee_columns_176 = ["id", "salary"]
employee_df_176 = spark.createDataFrame(employee_176, employee_columns_176)
employee_df_176.show()

In [0]:
employee_df_176\
    .select("id",col("salary").cast('int')).orderBy(col('salary').desc()).limit(2)\
        .orderBy(col('salary').asc()).limit(1).show()