## Importing Libraries

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

**2388.Â Change Null Values in a Table to the Previous Value (Medium)**

**Table: CoffeeShop**

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| drink       | varchar |

id is the primary key (column with unique values) for this table.
Each row in this table shows the order id and the name of the drink ordered. Some drink rows are nulls.
 
**Write a solution to replace the null values of the drink with the name of the drink of the previous row that is not null. It is guaranteed that the drink on the first row of the table is not null.**

Return the result table in the same order as the input.

The result format is shown in the following example.

**Example 1:**

**Input:** 

**CoffeeShop table:**
| id | drink             |
|----|-------------------|
| 9  | Rum and Coke      |
| 6  | null              |
| 7  | null              |
| 3  | St Germain Spritz |
| 1  | Orange Margarita  |
| 2  | null              |

**Output:** 
| id | drink             |
|----|-------------------|
| 9  | Rum and Coke      |
| 6  | Rum and Coke      |
| 7  | Rum and Coke      |
| 3  | St Germain Spritz |
| 1  | Orange Margarita  |
| 2  | Orange Margarita  |

**Explanation:** 

- For ID 6, the previous value that is not null is from ID 9. We replace the null with "Rum and Coke".
- For ID 7, the previous value that is not null is from ID 9. We replace the null with "Rum and Coke;.
- For ID 2, the previous value that is not null is from ID 1. We replace the null with "Orange Margarita".

Note that the rows in the output are the same as in the input.

In [0]:
coffee_data_2388 = [
    (9, "Rum and Coke"),
    (6, None),
    (7, None),
    (3, "St Germain Spritz"),
    (1, "Orange Margarita"),
    (2, None),
]

coffee_columns_2388 = ["id", "drink"]
coffee_df_2388 = spark.createDataFrame(coffee_data_2388, coffee_columns_2388)
coffee_df_2388.show()

+---+-----------------+
| id|            drink|
+---+-----------------+
|  9|     Rum and Coke|
|  6|             NULL|
|  7|             NULL|
|  3|St Germain Spritz|
|  1| Orange Margarita|
|  2|             NULL|
+---+-----------------+

In [0]:
coffee_df_2388 = coffee_df_2388.withColumn("row_order", monotonically_increasing_id())

In [0]:
window_spec = Window.orderBy("row_order").rowsBetween(Window.unboundedPreceding, 0)

In [0]:
coffee_df_2388\
    .withColumn("drink", last("drink", ignorenulls=True).over(window_spec)) \
        .select("id", "drink").display()

id,drink
9,Rum and Coke
6,Rum and Coke
7,Rum and Coke
3,St Germain Spritz
1,Orange Margarita
2,Orange Margarita